@import 'materialize-src/sass/materialize.scss';
@import '_bases.scss';
@import '_variables.scss';
@import 'assets/css/dashicons.min.css';

.carousel {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 100%;
  display:none;
  height:574px;
  .wrapper {
    left: 0px;
    display: block;
    transform: translate3d(0, 0, 0);
    transition: all 400ms ease;
    &:after {
      content: '';
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
    }
    
    .item {
      float: left;
      display: block;
      height: auto;
      backface-visibility: hidden;
      transform: translate3d(0,0,0);
      width:100%;
      img{
		position:absolute;
		width:100%;
      }
      div{
      	position:relative;
      	z-index:100;
      	margin-top: 82px;
      	h1{
      		font-family:$carousel_font;
      		font-weight:700;
      		color:#fff;
      	}
      	p{
      		font-family:$carousel_font;
      		font-size:18.2px;
      		color:#fff;
      	}
      	a{
			font-family:$carousel_font;
			width: 136px;
			height: 52px;
			padding-top: 8px;
			font-size: 14px;
			background-color: #e91e63;
			margin-top: 41px;
      	}
      }
    }
  }
  
  .control {
    .next, .prew {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 10%;
      min-width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      cursor: pointer;
    }
    
    .prew {
      left: 0;
      i{
		font-size: 50px;
      }
    }
    
    .next {
      right: 0;
      i{
		font-size: 50px;
      }
    }
  }
}
nav{
	position:fixed;
    height: 67px;
    background-color: transparent;
    z-index:100;
	div{
		.brand-logo{
			font-size: 18px;
			margin-top: 0;
			margin-left: 106px;
		}
	}
}
nav{
	ul{
		a{
			font-size: 12px;
		}
	}
}
#btn-color{
	background-color: #e91e63;
    font-size: 12px;
    height: 51px;
    padding-top: 7px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
	font-size:16px;
}
#dropdown1 {
	padding: 0;
    margin: 47px 0 0 -90px;
	li{
		a{
			margin: 0 5px;
			padding: 12px 20px 12px 12px;
			font-size: 13px;
			border-radius: 2px;
			color: #333333;
		}
	}
}

#dropdown1 {
	padding: 0;
    margin: 47px 0 0 -90px;
	li:hover{
		background-color:#e91e63;
		a{

		}
	}
}
#dropdown2 {
    padding: 0;
    margin: 50px 0 0 -50px;
	li{
		margin:0;
		a{
			margin: 0 5px;
			padding: 12px 20px 12px 12px;
			font-size: 13px;
			border-radius: 2px;
			color: #333333;
		}
	}
}
#dropdown2 {
    padding: 0;
    margin: 50px 0 0 -50px;
	li:hover{
		background-color:#9c27b0;
	}
}
#second{
	background-color:#fff;
	width: initial;
	border-radius:10px;
	position: relative;
    margin-top: -59px;
	div{
		div{
		}
		div{
			h5{
				color: #c1c1c1;
				font-size: 20px;
				margin-top: 78px;
				font-weight:300;
			}
		}
	}
}
#box{
		div{
			padding-left: 107px;
			margin-top:51px;
			h4{
				font-size: 18.2px;
			}
			p{
				color:#c1c1c1;
			}
		}
}

#rosa{
	color:#E91E63;
}
#turq{
	color:#00BCD4;
}
#verde {
	color:#4CAF50;
}
#third{
	background-color:black;
	width: initial;
    height: 964px;
	div{
		div{
    		margin-top: 46px;
    		margin-left: 83px;
    		margin-right: -274px;
    		padding-right: 199px;
			h2{
				font-family:$titulos_font;
				color:#fff;
				font-weight:700;
				font-size:36px;
			}
			p{
				font-family:$text_font;
				font-size: 16px;
				color:#fff;
				padding-top: 18px;
			}
		}
		div{
			img{
				width: 550px;
				height: 433px;
				margin-left: 95px;
			}
		}
	}
}
#parrf2{
	margin-top: -22px;
	color:#fff;
}