@import 'materialize-src/sass/materialize.scss';
@import '_bases.scss';
@import '_variables.scss';
@import 'assets/css/dashicons.min.css';

#contenedor{
	background-color:#fff;
}

.carousel {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 100%;
  display:none;
  height:574px;
  .wrapper {
    left: 0px;
    display: block;
    transform: translate3d(0, 0, 0);
    transition: all 400ms ease;
    &:after {
      content: '';
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
    }
    
    .item {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: bottom;
			height: 100vh;
			float: left;
			display: block;
			height: auto;
			backface-visibility: hidden;
			transform: translate3d(0,0,0);
			width:100%;
			height:100vh;
			div{
				position:relative;
				z-index:100;
				margin-top: 82px;
				h1{
					font-family:$carousel_font;
					font-weight:700;
					color:#fff;
				}
				p{
					font-family:$carousel_font;
					font-size:18.2px;
					color:#fff;
				}
				a{
					font-family:$carousel_font;
					width: 136px;
					height: 52px;
					padding-top: 8px;
					font-size: 14px;
					background-color: #e91e63;
					margin-top: 41px;
				}
			}
		}
}

  .control {
    .next, .prew {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 10%;
      min-width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      cursor: pointer;
    }
    
    .prew {
      left: 0;
      i{
		font-size: 50px;
      }
    }
    
    .next {
      right: 0;
      i{
		font-size: 50px;
      }
    }
  }
}
nav{
	position:fixed;
    height: 67px;
    background-color: transparent;
    z-index:100;
	div{

		.brand-logo{
			font-size: 18px;
			margin-top: 0;
			margin-left: 106px;
		}
	}
}
nav{
	ul{
		a{
			font-size: 12px;
		}
	}
}
#btn-color{
	background-color: #e91e63;
    font-size: 12px;
    height: 51px;
    padding: 7px 18px 0;
    margin: 0 111px 0 0;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons{
	font-size:16px;
}
#dropdown1 {
	padding: 0;
    margin: 47px 0 0 -90px;
	li{
		a{
			margin: 0 5px;
			padding: 12px 20px 12px 12px;
			font-size: 13px;
			border-radius: 2px;
			color: #333333;
		}
	}
}

#dropdown1 {
	padding: 0;
    margin: 47px 0 0 -90px;
	li:hover{
		background-color:#e91e63;
		a{

		}
	}
}
#dropdown2 {
    padding: 0;
    margin: 50px 0 0 -50px;
	li{
		margin:0;
		a{
			margin: 0 5px;
			padding: 12px 20px 12px 12px;
			font-size: 13px;
			border-radius: 2px;
			color: #333333;
		}
	}
}
#dropdown2 {
    padding: 0;
    margin: 50px 0 0 -50px;
	li:hover{
		background-color:#9c27b0;
	}
}
#second{
	background-color:#fff;
	width: initial;
	border-radius: 10px 10px 0 0;
	position: relative;
    margin-top: -59px;
    box-shadow:0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	div{
		div{
		}
		div{
			h5{
				font-family:$textos;
				color: #999;
				font-size: 17px;
				margin-top: 81px;
				font-weight: 300;
				line-height: 27.125px;
				width: 731px;
				height: 81px;
			}
		}
	}
}
#box{
	padding: 45px 68px;
		div{
			padding-left: 16px;

			h4{
				font-family:$titulos_font;
				font-size: 18.2px;
				font-weight: 700;
				color:#3c4858;
			}
			p{
				color:#999;
				font-size:16px;
			}
		}
}

#rosa{
	color:#E91E63;
}
#turq{
	color:#00BCD4;
}
#verde {
	color:#4CAF50;
}
#third{
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	width: initial;
    margin-top:-19px;
    height:100%;
	div{
		div{
			margin-top: 46px;
			margin-left: 83px;
			margin-right: -274px;
			padding-right: 199px;
			h2{
				font-family:$titulos_font;
				color:#fff;
				font-weight:700;
				font-size:36px;
			}
			p{
				font-family:$text_font;
				font-size: 16px;
				color:#fff;
				padding-top: 18px;
			}
		}
		div{
			img{
				width: 550px;
				height: 433px;
				margin-left: 95px;
			}
		}
	}
}

#parrf2{
	margin-top: -22px;
	color:#fff;
}
#fourth{
		background-color: #f0f0f0;
		width: initial;
	div{
		div{
			h2{
				margin-top: 85px;
				font-family:$titulos_font;
				font-weight: 700;
				color: #3c4858;
				font-size: 36.4px;
			}
			h5{
				font-family: $textos;
				font-weight:300;
				font-size:17px;
				color:#999;
				margin-bottom: 101px;
			}
		}
	}
}

.tarjeta{
	padding:0 28px;
}

	#sth{//row
		margin:0;
		padding:0;
		div{//col m3
			div{//div vacio
			background-color: #fff;
			border-radius: 6px;
			width: 100%;
			margin: -36px 0px 24px;
				div{//contenedor img e info
					img{
						width:230px;
						height:345px;
						border-radius: 6px;
						margin-top: -40px;
						cursor:pointer;
					}
					div{
					margin-top:36px;//info
						h6{
							color:#e91e63;
							font-size:13px;
							font-family:$textos;
							font-weight:500;
							cursor:pointer;
						}
						h4{
							color:#3c4858;
							font-family:$titulos_font;
							font-weight:700;
							font-size:18px;
						}
						p{
							padding: 0px 49px;
							color: #999;
							font-family:$textos;
							font-weight:300;
							font-size: 14px;
						}
						div{
							display:inline;
							p{
								
							}
						}
					}
				}
			}
		}
}


#fifth{
		width: initial;
	div{
		div{
			h2{
				font-family:$titulos_font;
				font-weight: 700;
				color: #3c4858;
				font-size: 36.4px;
			}
			h5{
				font-family: $textos;
				font-weight:300;
				font-size:17px;
				color:#999;
			}
		}
	}
}
#row-photo1 {
	display:flex;
	width:1170px;
	height:340px;
	div{
		img{
		width: 359px;
    	height: 271px;
    	padding: 0px 0px 0px 0px;
    	margin: 0px 0px 0px 46px;
    	border-radius: 6px;

		}
	}
}
#row-photo2 {
	display:flex;
	width:1170px;
	height:340px;
	div{
		img{
    		width: 555px;
    		height: 280px;
    		padding: 0 0px 0px 0px;
    		margin: -22px 0px 0px 48px;
    		border-radius: 6px;
		}
	}
}
#row-photo3 {
	display:flex;
	width:1170px;
	height:340px;
	div{
		img{
			width: 360px;
    		height: 280px;
    		padding: 0px 0px 0px 0px;
    		margin: 0px 0px 0px 46px;
    		border-radius: 6px;
		}
	}
}
#sixth{
		width: initial;
	div{
		div{
			h2{
				font-family:$titulos_font;
				font-weight: 700;
				color: #3c4858;
				font-size: 36.4px;
			}
			h5{
				font-family: $textos;
				font-weight:300;
				font-size:20px;
				color:#999;
			}
		}
	}
}
#team1{
    	width: 1170px;
    	height: 197px;
    	margin: 107px 0 0 57px;
	div{
		div{
			div{
				img{
					width:201px;
					height:201px;
				}
			}
			div{
    			width: 282px;
    			height: 255px;
				div{
					h4{
					color: #3c4858;
    				font-family:$titulos_font;
    				font-weight:700;
    				font-size: 18px;
					}
					h6{
					color: #777;
    				font-size: 12.6px;
    				font-weight: 500;
					}
					p{
					color: #999;
    				font-size: 14px;
    				font-family:$textos;
    				font-weight:300;
					}
				}
			}
		}
	}
}
#team2{
    width: 1170px;
    height: 340px;
    margin: 107px 0 0 57px;
	div{
		div{
			div{
				img{
					width:201px;
					height:201px;
				}
			}
			div{
    			width: 282px;
    			height: 255px;
				div{
					h4{
					color: #3c4858;
    				font-family:$titulos_font;
    				font-weight:700;
    				font-size: 18px;
					}
					h6{
					color: #777;
    				font-size: 12.6px;
    				font-weight: 500;
					}
					p{
					color: #999;
    				font-size: 14px;
    				font-family:$textos;
    				font-weight:300;
					}
					div{}
				}
			}
		}
	}
}

#ceo{
	i{
	padding: 19px 20px;
	}
}
#marketing{
	i{
	padding: 19px 20px;
	}
}
#designer{
	i{
	padding: 19px 20px;
	}
}
#developer{
	i{
	padding: 19px 20px;
	}
}

.fa-facebook{
	color:#3B5998;
}
.fa-google-plus{
	color:#DD4B39;
}
.fa-twitter{
	color:#55ACEE;
}
.fa-linkedin{
	color:#0976B4;
}
.fa-pinterest{
	color:#CC2127;
}
.fa-dribbble{
	color:#DF3E7B;
}

#seventh{
		background-color: #F0F0F0;
		width: initial;
		div{
			div{
				h2{
					color:#3c4858;
					font-family:$titulos_font;
					font-size:34px;
					font-weight:700;
					padding: 75px 0 0px 67px;
				}
				p{
					padding-left:67px;
					color: #999;
					font-family:$textos;
					font-weight:300;
					font-size: 14px;
				}
			}
		}
}
.card1{
    margin-top: 78px;
    padding: 10px 0 36px 0;
	h6{
		font-size:12px;
		color:#999;
		font-family:$textos;
	}
	h3{
		font-size:60px;
		font-weight:700;
    	margin: 30px 0 -15px;
		font-family:$titulos_font;
		color:#3c4858;
	}
	ul{
		font-size:15px;
		margin:10px auto;
		li{
			color:#999;
			font-family:$textos;
    		margin: 30px 57px;
    		border-bottom: 1px solid lightgray;
		}
	}
	a{
		background-color:#e91e63;
	}
}
small{
	font-size:18px;
}
#eighth{
		padding-bottom:10px;
		width: initial;
		div{
			div{
				h2{
					color:#3c4858;
					font-family:$titulos_font;
					font-size:34px;
					font-weight:700;
					padding: 75px 0 0px 67px;
				}
				h5{
				    padding: 12px 268px 0;
				    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
				    font-weight: 300;
				    font-size: 18px;
				    color: #999;
			}
		}
	}
}

.client{
	padding-bottom: 62px;
	img{
		width:100px;
		height:100px;
	}
	div{
		h4{
			font-family:$titulos_font;
			font-weight:700;
			font-size:18px;
			color:#3c4858;
		}
		h6{
			color:#777;
			font-size:12px;
			font-weight:500;
			font-family:$textos;
		}
		p{
			color:#999;
			font-family:$textos;
			font-weight:300;
			padding: 0 20px;
		}
	}
}
#ninth{
		width: initial;
		background-image: url(../img/about.jpg);
		background-size:cover;
		background-repeat:no-repeat;
		background-position:top;
		height:414px;
		div{
			div{}
			div{
				h2{
					color:#fff;
					font-family:$titulos_font;
					font-weight:700;
					font-size:36px;
				    margin-top: 100px;
					margin-bottom:30px;
				}
				h5{
					color:#efefef;
					margin-bottom: 15px;
    				font-size: 17.5px;
    				font-family:$textos;
				}
			}
		}
}
.caja{
	
}